<div>
  <center>
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="margin: 0;padding: 0;background-color: #ffffff;height: 100% !important;width: 100% !important;">
      <tr>
        <td>
          <div style="width: 100%;height: 5px;background: url(http://pipecandy.com/assets/tile.png);background-size: 344px 5px, cover;"></div>
        </td>
      </tr>
      <tr>
        <td align="center" valign="top" style="padding-bottom: 40px;border-collapse: collapse;border-left: 1px solid #f2f2f2;border-right: 1px solid #f2f2f2;border-bottom: 1px solid #f2f2f2;">
          <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer">
            <!-- Email Header -->
            <tr>
              <td align="center" valign="top" style="border-collapse: collapse;">
                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader" style="border-top: 0;">
                  <tr>
                    <td align="center" valign="top" style="padding-top: 20px;padding-bottom: 20px;border-collapse: collapse;">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                          <td class="headerContent" style="border-collapse: collapse;color: #505050;font-family: Helvetica;font-size: 12px;font-weight: bold;line-height: 100%;padding-top: 20px;padding-right: 40px;padding-bottom: 0px;padding-left: 40px;text-align: left;vertical-align: middle;">
                            <div style="text-align: center;"><a href="http://pipecandy.com" target="_blank" style="color: #505050;font-weight: normal;text-decoration: none;"><img alt="PipeCandy" border="0" height="46" src="http://pipecandy.com/assets/logo.png" style="height: 46px;width: 232px;margin: 0;padding: 0;border: 0;line-height: 100%;outline: none;text-decoration: none;" width="232"></a></div>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- Email content -->
            <tr>
              <td align="center" valign="top" style="border-collapse: collapse;">
                <table border="0" cellpadding="40" cellspacing="0" width="600" id="templateBody">
                  <tr>
                    <td align="center" valign="top" style="padding-top: 20px;padding-bottom: 20px;border-collapse: collapse;">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                          <td valign="top" class="upperBodyContent" style="border-collapse: collapse;color: #43404D;font-family: Georgia;font-size: 16px;line-height: 150%;text-align: left;">
                            <div style="font-family: arial, sans-serif; font-size: 13px; line-height: normal;text-align: justify;">
                              <br>
                              <div>
                                <div> Hi <%= fname %>, </div>
                                <br/>
                                <div>We can barely wait to have you on PipeCandy. Please
                                  <a href="<%= text %>"> click on this link </a>, just
                                so we're sure that it's really you.</div>
                                <br/>
                                <div>Cheers!</div>
                                <div>Ashwin from PipeCandy</div>
                              </div>
                              <br>
                            </div>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- Profile -->
            <tr>
              <td align="center" valign="top" style="border-collapse: collapse;">
                <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-top: 0;">
                  <tr>
                    <td align="center" valign="top" style="padding-bottom: 20px;border-collapse: collapse;">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                          <td class="headerContent" style="border-collapse: collapse;color: #505050;font-family: Helvetica;font-size: 12px;font-weight: bold;line-height: 100%;padding-top: 20px;padding-right: 40px;padding-bottom: 0px;padding-left: 40px;text-align: left;vertical-align: middle;">
                            <div style="text-align: center;"><a href="http://pipecandy.com" target="_blank" style="color: #505050;font-weight: normal;text-decoration: none;"><img alt="PipeCandy" border="0" height="80" src="http://www.pipecandy.com/assets/shrikanth.png" style="height: 80px;width: 80px;margin: 0;padding: 0;border: 0;border-radius: 50%;line-height: 100%;outline: none;text-decoration: none;" width="80"></a></div>
                          </td>
                        </tr>
                        <tr>
                          <td valign="middle" class="footerContent" style="padding-top: 20px;border-collapse: collapse;color: #3F3A38;font-family: Georgia;font-size: 12px;line-height: 150%;text-align: center;">
                            <strong>Rajesh Rasappan</strong>
                            <br>From the Pipecandy Tech Team
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- Address -->
            <tr>
              <td align="center" valign="top" style="border-collapse: collapse;">
                <table border="0" cellpadding="40" cellspacing="0" width="600" style="background-color: #ffffff;">
                  <tr>
                    <td align="center" valign="top" style="padding-top: 20px;padding-bottom: 20px;border-collapse: collapse;">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top: 1px solid #C2C2C2;padding-top: 20px;">
                        <tr>
                          <td align="left" style="border-collapse: collapse;color: #C2C2C2;font-family: Georgia;font-size: 12px;line-height: 150%;text-align: left;">
                            <div>PipeCandy Inc.</div>
                            <div>800, West El Camino Real,</div>
                            <div>#180, Mountain View,</div>
                            <div>California - 94040,</div>
                            <div>United State of America</div>
                          </td>
                          <td align="right" valign="middle" style="border-collapse: collapse;">
                            <div>
                              <a href="https://www.facebook.com/pipecandyhq/" target="_blank"><img src="https://cdn4.iconfinder.com/data/icons/bettericons/354/facebook-circle-128.png" width="30" alt="Facebook"></a>&nbsp;
                              <a href="https://twitter.com/PipeCandyHQ" target="_blank"><img src="https://cdn4.iconfinder.com/data/icons/bettericons/354/twitter-circle-128.png" width="30" alt="Twitter"></a>&nbsp;
                              <a href="#" target="_blank"><img src="https://cdn4.iconfinder.com/data/icons/bettericons/354/linkedin-circle-128.png" width="30" alt="Linked"></a>
                            </div>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </center>
</div>
