<!DOCTYPE html>
<html>

<head>
  <title>Sample App</title>
  <link rel="stylesheet" type="text/css" href="/bower.css" />
  <link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body>
  <script>
  var __BOOTSTRAP__ = <%- bootstrap %>;
  var __USER__ = <%- user %>;
  </script>
  <header>
    <% include partials/header %>
  </header>
  <div id='root'><%- markup %></div>
  <script src="/bundle.js"></script>
  <script src="/bower.js"></script>
  <script src="/main.js"></script>
</body>

</html>
