$light-border: #ebebeb;
$white : #FFF;
$linckedin-bg-clr : #0077b5;
$google-bg-clr : #FFF;
$dflt-txt-clr: #929292;
$signin-bg-clr: #ff6549;
$a-tag-clr: #499cd0;
$dflt-btn-clr: #499cd0;
$placeholder-clr: #ababab;
