$light-border: #ebebeb;
$white : #FFF;
$linckedin-bg-clr : #0077b5;
$google-bg-clr : #FFF;
$dflt-txt-clr: #929292;
$signin-bg-clr: #ff6549;
$a-tag-clr: #499cd0;
$dflt-btn-clr: #499cd0;
$placeholder-clr: #ababab;
$gray-txt-clr: #ababab;
$menu-hovr-clr: rgba(0, 0, 0, 0.04);
$gray-transparent-clr: rgba(0, 0, 0, 0.7);
$gray-transparent-lit: rgba(0, 0, 0, 0.2);
$blue-clr: #499cd0;
$red-clr: #ff6549;
$blue-border: rgba(9, 105, 162, 0.15);
$light-bg-clr: #fcfcfc;
$box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
$drp-dwn-bg: #dddddd;
