$light-border: #ebebeb;
$border-1px: 1px solid $light-border;
$white: #FFF;
$linckedin-bg-clr: #0077b5;
$google-bg-clr: #FFF;
$dflt-txt-clr: #929292;
$signin-bg-clr: #ff6549;
$a-tag-clr: #499cd0;
$dflt-btn-clr: #499cd0;
$placeholder-clr: #ababab;
$gray-txt-clr: #ababab;
$menu-hovr-clr: rgba(0, 0, 0, 0.04);
$gray-transparent-clr: rgba(0, 0, 0, 0.7);
$gray-transparent-lit: rgba(0, 0, 0, 0.2);
$blue-clr: #499cd0;
$red-clr: #ff6549;
$black-clr: #000000;
$green-clr: #48cda5;
$orange-clr-lit: #FF9568;
$orange-clr: #FF694F;
$blue-border: rgba(9, 105, 162, 0.15);
$light-bg-clr: #fcfcfc;
$box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
$modal-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.22), 0 5px 10px 0 rgba(0, 0, 0, 0.21);
$drp-dwn-bg: #dddddd;
$modal-bg: #E6E6E6;
$pinck-clr: #fa80a5;
$pinck-clr-drk: #EF215F;
$lit-blue-bg: #F2F7FD;
$lit-red-bg: #FFD7D0;
$lit-gray-bg: #FAFAFA;
$gray-bg-clr: #EAEAEA;
$drk-gray-bg: #333333;
$modal-head-color: #142a38;
$linear-gradient: linear-gradient(to right, #FBFBFB, #ECECEC);
$linear-gradient-blue: linear-gradient(to right, #FBFBFB, $lit-blue-bg);
$grid-active-clr: #F4F9FF;
$spin-clr: #333333;
$chip-bg-clr: #fcfcfc;
$chip-border-clr: #ebebeb;
$green-menu-color: #48cda5;
$footer-tab-color: #EF215F;
$footer-color: #142A38;
