#subscriber_list {
  .griddle-filter {
    width: 320px;
    position: absolute;
    margin-top: -60px;
    left: 0;
    margin-left: 12.5%;
  }
}
.griddle {
  .row {
    margin: auto;
  }
  .griddle-filter {
    color: $a-tag-clr;
    .filter-container {
      &:before {
        font: normal normal normal 24px/1 "Material Design Icons";
        content: "\f349";
        color: inherit;
        position: absolute;
        padding: 10px 0px;
      }
      input {
        text-decoration: none;
        display: inline-block;
        padding-left: 30px;
        color: inherit;
        border-bottom: 1px solid transparent;
        white-space: nowrap;
        width: 230px;
        transition: 0.5s ease;
        word-spacing: 2px;
        &:focus {
          border-bottom: 1px solid $a-tag-clr;
          width: 260px;
          &::-webkit-input-placeholder {
            color: transparent;
          }
          &:-moz-placeholder {
            color: transparent;
          }
        }
        &::-webkit-input-placeholder {
          color: $a-tag-clr;
        }
        &:-moz-placeholder {
          color: $a-tag-clr;
        }
      }
    }
  }
  .griddle-container {
    width: 100%;
    .griddle-body {
      min-height: 0.01%;
      overflow-x: auto;
      table {
        thead > tr > th, tbody > tr > td {
          height: 65px;
          border-bottom: $border-1px;
          &.name, &.field {
            min-width: 130px;
            max-width: 180px;
          }
          &.email {
            min-width: 180px;
            max-width: 280px;
          }
          &.icon {
            text-align: center;
            min-width: 60px;
            max-width: 70px;
          }
        }
        thead > tr {
          text-transform: uppercase;
          color: $dflt-txt-clr;
          > th {
            border-top: $border-1px;
            &:first-child {
              border-right: $border-1px;
            }
            &:last-child {
              border-left: $border-1px;
            }
          }
        }
        tbody > tr {
          &.standard-row {
            &:hover, &:active {
              background-color: $grid-active-clr;
            }
          }
          > td {
            &.name {
              text-transform: capitalize;
            }
            &:first-child {
              border-right: $border-1px;
            }
            &:last-child {
              border-left: $border-1px;
            }
          }
        }
      }
      .footer-container {
        position: absolute;
        border: 0px none !important;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 12.5%;
        left: 0;
        font-size: 16px;
        color: $dflt-txt-clr;
        padding: 0px;
        ul {
          > li {
            cursor: pointer;
            &.active {
              background-color: $grid-active-clr;
            }
            &.link {
              color: $a-tag-clr;
            }
          }
        }
      }
    }
    .grid-checkbox-column {
      width: 70px;
      padding-top: 5px;
    }
    .email-list {
      border-top: $border-1px;
      padding-top: 20px;
      padding-bottom: 20px;
      &.active {
        background-color: $grid-active-clr;
      }
      .row {
        margin: auto;
      }
      h1, h2 {
        margin: 0px 0px 10px 0px;
        line-height: 30px;
        font-weight: 500;
      }
      h1 {
        font-size: 20px;
      }
      h2 {
        font-size: 18px;
      }
      .subscriber-count {
        color: $gray-txt-clr;
      }
      .circle-dot {
        color: $pinck-clr;
        font-size: 7px;
        margin: 0 10px;
      }
      .owner {
        color: $blue-clr;
      }
      .block-2 {
        border-left: $border-1px;
      }
    }
    .griddle-pager {
      font-size: 16px;
      color: $dflt-txt-clr;
      .pager-active {
        padding: 0 20px;
      }
      .pager-btn {
        cursor: pointer;
        color: $blue-clr;
        padding: 0 20px;
      }
    }
  }
}
#campaign_list {
  .griddle {
    .griddle-container {
      .griddle-body {
        table {
          tr {
            > th, > td {
              &:first-child {
                border-right: 0 none;
              }
              &:last-child {
                border-left: 0 none;
              }
            }
            > td {
              &.preview {
                width: 8%;
                text-align: center;
                font-size: 20px;
              }
              &.campaign-run-btn {
                a.btn {
                  background-color: $white;
                  border: 1px solid $a-tag-clr;
                  border-radius: 0px;
                  color: $a-tag-clr;
                  line-height: 34px;
                }
              }
              &.replies {
                padding-left: 30px;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1176px) {
  .griddle {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 992px) {
  .griddle {
    .top-section {
      margin-left: 7.5%;
    }
    .griddle-container {
      .griddle-body {
        table {
          > thead {
            > tr {
              > th {
                &:first-child {
                  border-right: 0 none;
                }
                &:last-child {
                  border-left: 0 none;
                }
              }
            }
          }
          > tbody {
            > tr {
              > td {
                &:first-child {
                  border-right: 0 none;
                }
                &:last-child {
                  border-left: 0 none;
                }
              }
            }
          }
          thead > tr > th, tbody > tr > td {
            border-top: 0 none;
            &.icon {
              text-align: left;
              max-width: none;
            }
          }
          thead > tr > th.icon {
            text-align: right;
          }
        }
        .footer-container {
          position: relative;
          height: 50px;
          margin-top: auto;
          margin-left: 7.5%;
          margin-bottom: auto;
        }
      }
    }
  }
}
@media only screen and (max-width: 890px) {
  .griddle {
    .top-section {
      margin-left: 5%;
    }
    .griddle-body {
      .footer-container {
        margin-left: 5%;
      }
    }
  }
}
@media only screen and (max-width: 680px) {
  .griddle {
    .top-section {
      position: relative;
      margin-top: 0px;
    }
  }
}
@media only screen and (max-width: 600px) {
  .griddle {
    .griddle-container {
      .email-list {
        .block-2 {
          border-left: 0 none;
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
    }
  }
}
