.add-list-field,
.create-container {
  .react-autosuggest__container {
    .react-autosuggest__suggestions-container {
      background-color: $white;
      box-shadow: $box-shadow;
      margin-top: -12px;
      width: 100%;
      z-index: 2;
      .react-autosuggest__suggestion {
        cursor: pointer;
        padding: 6px 0;
        &.react-autosuggest__suggestion--focused {
          background-color: $drp-dwn-bg;
        }
      }
    }
  }
}
/***********************************
  '@' mention dropdown autocomplete
***********************************/
.rte-autocomplete {
  background-color: $white;
  box-shadow: $box-shadow;
  position: absolute;
  li {
    a {
      display: block;
      padding: 15px;
    }
    &:hover {
      background-color: $lit-gray-bg;
    }
    &.active {
      background-color: $light-border;
    }
  }
}
span#autocomplete {
  background-color: $chip-border-clr;
  border: solid 1px $drp-dwn-bg;
  #autocomplete-delimiter {
    background-color: $drp-dwn-bg;
    padding: 0 2px;
  }
  #autocomplete-searchtext {
    padding: 0 4px 0 2px;
  }
}

.mce-container-body {
  .mce-btn button {
    padding: 4px 4px;
    .mce-txt {
      font-size: 12px;
    }
  }
  .mce-btn-has-text[aria-label="Font Sizes"] .mce-txt {
    width: 83px;
  }
}

.mce-window {
  background-color: $white;
  left: 25% !important;
  width: 50% !important;
  .mce-foot {
    width: 100% !important;
  }
  .mce-container-body {
    background-color: $white;
    width: 100% !important;
  }
  .mce-combobox input {
    border: 0;
    border-bottom: 2px solid $light-border;
  }
  button:focus {
    background-color: transparent;
  }
}

/*********************
  Media Query Classes
**********************/
@media only screen and (max-width: 1000px) {
  .mce-window {
    width: 70% !important;
    left: 15% !important;
  }
}

@media only screen and (max-width: 600px) {
  .mce-window {
    width: 90% !important;
    left: 5% !important;
  }
}
