html {
  font-family: 'Ubuntu', sans-serif;
}
body {
  background: url("../images/tile.png");
  background-repeat: repeat-x;
}
a {
  cursor: pointer;
}
.main-head {
  float: left;
  font-size: 24px;
  font-weight: 300;
  width: 100%;
}
.top-candy-bdr {
  background: url("../images/tile.png");
  background-repeat: repeat-x;
  width: 100%;
  height: 5px;
  position: fixed;
}
.navbar-fixed nav {
  width: 90%;
  margin-left: 5%;
  ul {
    li {
      a {
        &.active {
          border-bottom: 3px solid #499cd0;
          height: 68px;
        }
        &.dropdown-button {
          &.active {
            border-bottom: none;
          }
        }
      }
      &.alarm {
        a {
          height: 68px;
        }
        i {
          font-size: 20px;
          .alarm-info {
            font-size: 8px;
            margin-top: 20px;
            margin-left: -7px;
            position: absolute;
            color: #FFF;
            background: red;
            border-radius: 5px;
            height: 13px;
            line-height: 10px;
            min-width: 20px;
            text-align: center;
            display: inline-block;
            font-weight: bold;
            padding: 2px;
          }
        }
      }
      &.user-pic {
        a {
          padding-top: 12px;
          height: 68px;
          img {
            border: 2px solid $blue-clr;
            width: 30px;
          }
        }
        i {
          display: inline-block;
          position: absolute;
          margin-top: -8px;
        }
      }
      .dropdown-content {
        li {
          a {
            height: 50px;
            color: $blue-clr;
          }
        }
      }
    }
  }
}
.side-nav-btn {
  display: none;
}
.side-nav {
  .side-nav-drop-down {
    display: none;
  }
  .side-nav-user-pic {
    width: 240px;
    height: 100px;
    margin: 0;
    background-size: cover;
    img {
      width: 75px;
      margin-top: 12px;
      box-shadow: 0 0 1px $white, 0 0 3px $white;
      margin-left: 5px;
    }
    i {
      float: right;
      margin-top: -39px;
      font-size: 25px;
      cursor: pointer;
      margin-left: 5px;
      text-shadow: 0 0 1px $white, 0 0 1px $white;
      @include rotate(-90deg);
      transition: transform 0.5s;
      &.active {
        margin-top: -38px;
        @include rotate(0deg);
        transition: transform 0.5s;
      }
    }
  }
}
.hint-box {
  border: 1px solid $blue-clr;
  border-radius: 3px;
  padding: 30px;
  color: $blue-clr;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 50px;
}
/***********************************
  authentication page Classes
************************************/
.password-box {
  position: absolute;
  margin-top: 10px !important;
  float: right;
  margin-left: calc(100% - 4px);
  div {
    height: 4px;
    width: 4px;
    margin: 2px;
    border-radius: 2px;
    background-color: $gray-transparent-lit;
    &.active {
      background-color: $blue-clr;
    }
  }
}
.center-container {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  height: calc(100% - 0px);
  padding: 5px;
  .center-div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
.auth-container {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  .auth-logo {
    width: 388px;
  }
  .auth-form {
    margin-top: 52px;
    .warning-block {
      width: 100%;
      text-align: left;
      margin-top: -10px;
    }
    .input-field {
      width: 370px;
      margin-left: auto;
      margin-right: auto;
    }
    .btn {
      margin-bottom: 25px;
    }
    [type="checkbox"] + label {
      line-height: 21px;
    }
    .auth-cnter-pnl {
      padding-left: 16px;
      padding-right: 16px;
    }
    .show-pass {
      float: right;
      margin-right: 15px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
.auth-btn {
  padding: 0;
  width: 370px;
  height: 60px;
  line-height: 60px;
  text-transform: none;
  font-size: 18px;
  font-weight: 400;
  i {
    margin-right: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.linkedin-btn {
  background-color: $linckedin-bg-clr;
  i {
    border-right: 1px solid $white;
    height: 60px;
  }
  .linkedin-icon {
    background-image: url("../images/linkedin10.png");
    background-repeat: no-repeat;
    width: 27px;
    height: 27px;
    display: block;
    margin-top: 18px;
  }
  &:hover {
    background-color: $linckedin-bg-clr;
  }
}
.google-btn {
  background-color: $google-bg-clr;
  border: 1px solid $light-border;
  color: $dflt-txt-clr;
  i {
    border-right: $border-1px;
    height: 58px;
  }
  .google-icon {
    background-image: url("../images/google-icon.png");
    background-repeat: no-repeat;
    width: 27px;
    height: 27px;
    display: block;
    margin-top: 15px;
  }
  &:hover {
    background-color: $google-bg-clr;
  }
}
.signin-btn {
  background-color: $signin-bg-clr;
  &:hover {
    background-color: $signin-bg-clr;
  }
  &:focus {
    background-color: $signin-bg-clr;
  }
}
.login-btn {
  background-color: $dflt-btn-clr;
  margin-top: 10px;
  &:hover {
    background-color: $dflt-btn-clr;
  }
  &:focus {
    background-color: $dflt-btn-clr;
  }
}
.sm-icon-btn {
  padding: 0 1rem;
  i {
    &.right {
      margin-left: 10px;
    }
    &.left {
      margin-right: 10px;
    }
  }
}
.lg-btn-dflt {
  padding: 0;
  width: 370px;
  height: 60px;
  line-height: 60px;
  text-transform: none;
  font-size: 18px;
  font-weight: 400;
  i {
    margin-right: 0;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 24px;
    &.left {
      border-right: 1px solid $white;
    }
    &.right {
      margin-left: 0;
    }
    &.mdi-chevron-down {
      font-size: 34px;
    }
  }
}
.error-btn {
  border: 2px solid $red-clr;
  background-color: $white;
  color: $red-clr;
  line-height: 35px;
  &:hover {
    background-color: $white;
  }
}
.gray-head {
  font-weight: 700;
  color: $gray-txt-clr;
  text-transform: uppercase;
}
.blue-head {
  font-weight: 700;
  color: $blue-clr;
  text-transform: uppercase;
}
/*********************
  Home Page
**********************/
.tag-line {
  padding: 80px 0;
}
.tag-head {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: $gray-txt-clr;
}
.tag-sm-head {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: $gray-txt-clr;
}
.campaign-status {
  border: 1px solid $blue-border;
  border-radius: 3px;
  padding: 23px 33px;
  margin-top: 15px;
  margin-bottom: 15px;
  ul {
    margin-top: 0;
    li {
      display: inline;
      cursor: pointer;
    }
    .separator {
      padding-left: 15px;
      padding-right: 15px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-image: url("../images/separator.png");
    }
  }
  .campaign-status-info {
    background-color: $light-bg-clr;
    padding-left: 18px;
    padding-right: 18px;
    .col {
      padding-top: 18px;
      padding-bottom: 18px;
      .info {
        font-weight: 700;
        text-transform: uppercase;
      }
      .status {
        color: $blue-clr;
        font-size: 36px;
        font-weight: 300;
        text-align: center;
        &::after {
          content: "%";
          font-size: 24px;
          font-weight: 300;
        }
      }
    }
    &.row {
      margin-bottom: 0;
    }
  }
}
/*********************
  User Profile
**********************/
.user-profile {
  #toast-container {
    .toast {
      float: right;
    }
  }
}
.avatar-container {
  text-align: center;
}
.avatar-pic {
  width: 200px;
  height: 200px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  .avatar-edit {
    display: none;
  }
  &:hover {
    .avatar-edit {
      background-color: $gray-transparent-clr;
      border: 5px solid $blue-clr;
      height: 200px;
      vertical-align: middle;
      text-align: center;
      display: table-cell;
      width: 200px;
      color: $white;
    }
  }
}
#selectAvatar {
  display: none;
}
/*********************
  Email List
**********************/
@mixin container-w-600 {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
@mixin sub-nav-container {
  .head {
    float: left;
    font-size: 24px;
    font-weight: 300;
    margin-right: 30px;
    .separator {
      font-size: 14px;
      margin-top: 11px;
      font-weight: 400;
      color: $dflt-txt-clr;
      li {
        float: left;
        i {
          font-size: 7px;
          margin: 0 10px;
        }
      }
    }
  }
  .sub-head {
    float: right;
    a {
      line-height: 42px;
      white-space: nowrap;
      padding-left: 20px;
      &.btn {
        line-height: 36px;
      }
    }
  }
}
.sub-nav {
  margin-top: 28px;
  margin-bottom: 45px;
  border-bottom: $border-1px;
  min-height: 50px;
  @include sub-nav-container;
}
.sub-head-container {
  margin-top: 30px;
  margin-bottom: 5px;
  min-height: 50px;
  @include sub-nav-container;
}
.create-container {
  h3 {
    margin-bottom: 28px;
    text-align: center;
  }
  .list-container {
    @include container-w-600;
    h3 {
      text-align: left;
    }
    .row {
      margin: 0;
    }
    .r-btn-container {
      text-align: right;
      width: 100%;
      margin-top: 15px;
    }
    .react-autosuggest__container {
      position: relative;
      .react-autosuggest__suggestions-container {
        position: absolute;
        top: 25px;
        width: 100%;
        background-color: $white;
        z-index: 2;
        box-shadow: $box-shadow;
        .react-autosuggest__suggestion {
          cursor: pointer;
          padding: 10px 20px;
          &.react-autosuggest__suggestion--focused {
            background-color: $drp-dwn-bg;
          }
        }
      }
    }
  }
  .hint-box {
    @include container-w-600;
  }
}
.r-btn-container {
  text-align: right;
  width: 100%;
}
.add-new-field {
  text-transform: uppercase;
  color: $blue-clr;
  margin-top: 15px;
  cursor: pointer;
  i {
    margin-right: 5px;
    font-size: 15px;
  }
}
/*************************
  Single event handling
**************************/
.m-t-47 {
  margin-top: 47px;
}
.m-t-50 {
  margin-top: 50px;
}
.m-b-50 {
  margin-bottom: 50px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-0 {
  margin: 0 !important;
}
.m-lr-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.rtt-90-d {
  @include rotate(90deg);
}
.blue-txt {
  color: $blue-clr;
}
.m-r-20 {
  margin-right: 20px;
}
.p-1-btn {
  margin-right: 20px;
}
.p-lr-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.p-l-0 {
  padding-left: 0 !important;
}
.p-0 {
  padding: 0 !important;
}
.p-10 {
  padding: 10px !important;
}
/*********************
  Warning Class
**********************/
.warning-block {
  color: $red-clr;
  margin-top: 0;
  padding-top: 0;
  font-size: 12px;
  display: block;
}
/*********************
  new tab
**********************/
.tab-container {
  border-bottom: $border-1px;
  width: 90%;
  margin-left: 5%;
  .new-tabs {
    display: flex;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
    .tabs {
      display: inline;
      text-align: center;
      border: 1px solid $pinck-clr;
      border-right: none;
      height: 35px;
      line-height: 35px;
      color: $pinck-clr;
      font-weight: 700;
      font-size: 12px;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-transform: uppercase;
      width: 100%;
      overflow: hidden;
      padding-left: 15px;
      padding-right: 15px;
      &.active {
        background-color: $pinck-clr;
        color: $white;
      }
      &:nth-child(2) {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      &:last-child {
        border-right: 1px solid $pinck-clr;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
    .position {
      padding-left: 6px;
      color: $pinck-clr;
      width: 22px;
      height: 22px;
      border: 1px solid $pinck-clr;
      border-radius: 50%;
      z-index: 1;
      position: absolute;
      margin-top: 6px;
      margin-left: -10px;
      background-color: $white;
      font-weight: 700;
      font-size: 12px;
      line-height: 19px;
      &.active {
        background-color: $pinck-clr;
        color: $white;
        border: 2px solid $white;
      }
    }
  }
}
/*********************
  Email Campaign
**********************/
.inner-tabs {
  border-bottom: $border-1px;
  nav {
    height: 50px;
    line-height: 50px;
    border-bottom: none;
    ul {
      li {
        a {
          padding: 0 25px;
          &.active {
            border-bottom: 3px solid;
            margin-bottom: -3px;
          }
        }
      }
    }
    .btn {
      margin-top: -2px;
    }
  }
}
// Add ellipsis for email template html content rendering
$font-size: 13px;
$line-height: 1.45;
$lines-to-show: 8;
.template-preview {
  min-height: 269px;
  font-weight: 400;
  border-radius: 3px;
  box-shadow: none;
  border: $border-1px;
  .card-title {
    border-bottom: $border-1px;
    font-size: 15px;
    padding: 10px;
    font-weight: bold;
    background-color: $lit-gray-bg;
    height: 45px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
  }
  .card-content {
    display: block;
    display: -webkit-box;
    color: $dflt-txt-clr;
    height: 165px;
    margin: 0 auto;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 15px;
  }
  .card-action {
    background-color: $lit-blue-bg;
    color: $a-tag-clr;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
  }
  &.active {
    box-shadow: 0 0 1px 1px $blue-clr;
  }
  &:hover {
    box-shadow: 0 0 1px 1px $blue-clr;
  }
  .campaign-template {
    display: inline-block;
    width: 70%;
    float: left;
  }
  .campaign-followups {
    display: inline-block;
    width: 30%;
    .followups {
      display: inline-block;
      height: 260px;
      width: 20%;
      background: $linear-gradient;
      .head {
        height: 45px;
        width: 100%;
        border-bottom: $border-1px;
        border-left: $border-1px;
      }
      .body {
        height: 180px;
        width: 100%;
        border-left: $border-1px;
      }
      .preview {
        height: 42px;
        width: 100%;
        border-top: $border-1px;
        border-left: $border-1px;
        background: $linear-gradient-blue;
      }
    }
    .count {
      position: absolute;
      text-align: center;
      margin-top: 85px;
      color: $dflt-txt-clr;
      font-size: 12px;
      font-weight: 700;
      h2 {
        font-size: 50px;
        font-weight: 700;
        margin: 0;
      }
    }
  }
}
.campaign-template-info {
  margin-bottom: 15px;
  margin-top: 25px;
  .title {
    font-size: 16px;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
  }
  .details {
    color: $dflt-txt-clr;
    margin: 10px 0;
    i {
      font-size: 7px;
      margin: 0 10px;
    }
  }
}
.preview-mail-container {
  background-color: $lit-gray-bg;
  padding: 10px;
  margin-bottom: 10px;
  .head {
    font-weight: bold;
    margin-bottom: 10px;
  }
  .content {
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .mail-content {
    p {
      margin: 0;
    }
  }
}
/******************************
  Daft Email Templates
*******************************/
.draft-container {
  border: $border-1px;
  border-radius: 3px;
  height: auto;
  .head {
    margin: 0;
    padding: 15px 0;
    height: 50px;
    cursor: pointer;
    background: $lit-gray-bg;
    border-bottom: $border-1px;
    h3 {
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 16px;
      font-weight: 500;
    }
    .mdi {
      font-size: 25px;
      font-weight: 400;
      line-height: 18px;
      float: right;
      transition: transform 0.5s;
      &.in-active {
        @include rotate(-180deg);
        transition: transform 0.5s;
      }
    }
    .editor-text {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  .draft-template {
    margin-top: 30px;
    padding: 0 30px;
    .left-part {
      width: 50px;
      float: left;
      margin-top: 6px;
    }
    .right-part {
      width: calc(100% - 50px);
      float: right;
    }
    .separator {
      border-bottom: $border-1px;
      padding: 10px 0;
      &.row {
        margin-bottom: 0;
      }
    }
    .chip {
      margin-right: 5px;
      background-color: #F7F7F7;
      border-radius: 5px;
      padding: 0 10px;
      margin-bottom: 5px;
      width: 255px;
      .title {
        width: 170px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: inline-block;
      }
      .count {
        margin-left: 5px;
        position: absolute;
        &::after {
          content: ")";
        }
        &::before {
          content: "(";
        }
      }
    }
    .email-content {
      .email-body {
        min-height: 250px;
        border: $border-1px;
        padding: 10px;
        outline: none;
        p {
          margin: 0;
        }
        .un-common {
          color: $red-clr;
        }
        &.clear-err-count {
          .un-common {
            text-decoration: line-through;
          }
        }
      }
    }
    .preview-content {}
  }
  .select-wrapper {
    input {
      &.select-dropdown {
        border: $border-1px;
        border-radius: 3px;
        padding-left: 5px;
        margin-bottom: 0;
      }
    }
  }
  .schedule-time {
    .select-wrapper {
      padding-top: 7px;
      span {
        &.caret {
          margin-top: 5px;
          color: $dflt-txt-clr;
        }
      }
    }
    div:first-child {
      padding-left: 0;
    }
    .input-field {
      label {
        color: $dflt-txt-clr;
        top: -11px;
      }
    }
  }
}
.email-body {
  .un-common {
    color: $red-clr;
    background-color: $lit-red-bg;
  }
  .common {
    color: $blue-clr;
    background-color: $lit-blue-bg;
  }
}
.tiny-toolbar {
  width: 100%;
  background-color: #F7F7F7;
  min-height: 36px;
  .mce-panel {
    background-color: transparent;
    border: none;
    display: block !important;
    .mce-btn {
      background-color: transparent;
      &:hover {
        background-color: transparent;
      }
      &:focus {
        background-color: transparent;
      }
    }
  }
  .dropdown-button {
    color: #333;
    text-transform: uppercase;
    background-color: #EAEAEA;
  }
  .un-common {
    color: $red-clr;
  }
}
.add-followups {
  border: 1px solid $blue-border;
  color: $blue-clr;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  height: 50px;
  line-height: 30px;
  padding: 10px;
  cursor: pointer;
  background-color: $lit-blue-bg;
}
.border-input {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding-left: 5px;
  margin-bottom: 0;
}
/*********************
  Modal header
**********************/
.gray-bg {
  background-color: $lit-gray-bg;
}
.email-body {
  p {
    margin: 0;
  }
}
.modal {
  .modal-header {
    padding: 15px;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 0;
    min-height: 40px;
    .head {
      display: inline-block;
      color: $modal-head-color;
      background: transparent;
      border: none;
      padding: 0;
      height: auto;
      .sub-head {
        font-size: 12px;
        padding-left: 15px;
      }
    }
    .preview-slider {
      text-align: center;
      color: $dflt-txt-clr;
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 10px;
      .pagination {
        input {
          width: 50px;
          text-align: center;
          margin: 0 10px;
        }
      }
      .mdi {
        font-size: 30px;
        font-weight: 500;
        margin-top: 6px;
        border-radius: 50%;
      }
    }
  }
  .preview-modal-content {
    width: 100%;
    height: calc(100% - 140px);
    margin-top: 10px;
    padding: 0 15px;
    overflow-y: auto;
    .email-body {
      min-height: 250px;
      border: $border-1px;
      padding: 10px;
      margin-bottom: 20px;
      margin-left: 1px;
      outline: none;
    }
    .modal-content {
      padding: 0;
      position: relative;
      .preview-content {
        padding: 15px;
        margin-top: 10px;
      }
    }
  }
  .modal-content {
    .template-content {
      padding: 0;
      height: 100%;
      overflow-y: auto;
    }
  }
  .mdi-close {
    position: absolute;
    margin-left: calc(100% - 20px);
    top: 7px;
    padding: 0;
    cursor: pointer;
    color: $gray-txt-clr;
    @include rotate(0deg);
    transition: transform 0.5s;
    &:hover {
      @include rotate(180deg);
      transition: transform 0.5s;
    }
  }
}
/*********************
  Default Spacing
**********************/
.half-spaced {
  padding-top: 10px;
}
.spaced {
  padding-top: 20px;
}
.full-spaced {
  padding-top: 30px;
}
/*********************
  Display Table
**********************/
.row-table {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.row-table-cell {
  display: table-cell;
  float: none;
  height: 100%;
}
.valign-top {
  vertical-align: top;
}
.valign-middle {
  vertical-align: middle;
}
.valign-bottom {
  vertical-align: bottom;
}
/*********************
  React Spinner
**********************/
.custom-spinner {
  position: relative;
  width: 30px;
  height: 30px;
  margin-top: 11px;
  margin-left: 9px;
  .spinner-bar {
    @include animation(spinner-spin 1.2s linear infinite);
    border-radius: 5px;
    background-color: $spin-clr;
    position: absolute;
    width: 20%;
    height: 7.8%;
  }
}
@include keyframes(spinner-spin) {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.15;
  }
}
/*********************
  Dashboard classes
**********************/
.caps-head {
  float: left;
  width: 100%;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 10px;
  color: $dflt-txt-clr;
}
.camp-chip {
  background-color: $chip-bg-clr;
  min-height: 100px;
  padding: 10px;
  border-bottom: 3px solid $chip-border-clr;
  min-height: 110px;
  position: relative;
  .head {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    max-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .count {
    div {
      color: $blue-clr;
      font-size: 30px;
      &:after {
        content: "%";
      }
    }
    span {
      font-size: 12px;
      color: gray;
    }
  }
  .status {
    font-size: 14px;
    border-bottom: 3px solid red;
    margin-top: -17px;
    position: absolute;
    right: 0;
    min-width: 60px;
    height: 30px;
    .icon {
      width: 30px;
      display: inline-block;
      i {
        font-size: 30px;
      }
    }
    .count {
      position: absolute;
      font-size: 15px;
      line-height: 37px;
      display: inline-block;
      bottom: -5px;
      &:after {
        content: "%";
      }
    }
  }
}
.tag-name-menu {
  ul {
    margin-top: 0;
    border-bottom: $border-1px;
    li {
      font-weight: 500;
      display: inline-block;
      line-height: 45px;
      padding: 0 10px;
      color: $gray-txt-clr;
      &:first-child {
        padding-left: 0px;
        &:after {
          content: " :";
        }
      }
      &.menu {
        color: $green-menu-color;
        cursor: pointer;
        border-bottom: 3px solid $white;
        &:hover {
          background-color: $menu-hovr-clr;
          border-bottom: 3px solid $menu-hovr-clr;
        }
        &.active {
          border-bottom: 3px solid $green-menu-color;
        }
      }
    }
  }
}
.camp-chip-container {
  border-bottom: $border-1px;
  padding-bottom: 10px;
  .col {
    margin-bottom: 22px;
  }
}
/*********************
  Media Query Classes
**********************/
@media only screen and (max-width: 1176px) {
  .navbar-fixed {
    nav {
      width: 100%;
      margin-left: 0;
    }
  }
  .tab-container {
    width: 100%;
    margin-left: 0;
  }
}
@media only screen and (max-width: 995px) {
  .tab-hd-btn {
    .col {
      text-align: center;
    }
  }
}
@media only screen and (max-width: 992px) {
  .side-nav-btn {
    display: block;
  }
}
@media only screen and (max-width: 700px) {
  .hide-on-700{
    display: none !important;
  }
  .tag-name-menu{
    ul{
      li{
        &:first-child{
          width: 100%;
          text-align: center;
          &:after{
            content: ""
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 680px) {
  .tiny-toolbar {
    .mce-panel {
      display: none !important;
    }
  }
}
@media only screen and (max-width: 600px) {
  .auth-container {
    .auth-logo {
      width: 250px;
    }
  }
  .modal.lg-modal {
    width: 100%;
    max-height: 100%;
    height: 100%;
    top: 0 !important;
  }
}
@media only screen and (max-width: 500px) {
  .caps-head {
    margin-bottom: 10px;
  }
  .sub-head-container,
  .sub-nav {
    .head {
      float: none;
      text-align: center;
      display: block;
      margin-left: 0;
      margin-right: 0;
    }
    .sub-head {
      width: 100%;
      float: left;
      a {
        display: block;
        padding-left: 0;
        &.btn {
          line-height: 36px;
        }
      }
      .btn {
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}
@media only screen and (max-width: 460px) {
  .draft-container {
    .draft-template {
      padding: 0 5px;
    }
  }
  .p-1-btn {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .btn {
    width: 90%;
  }
  .create-container {
    .list-container {
      .r-btn-container {
        text-align: center;
      }
    }
  }
  .r-btn-container {
    text-align: center;
  }
  .tiny-toolbar {
    .smart-tag-container {
      &.right {
        float: none !important;
        text-align: center;
        .btn {
          width: 100%;
        }
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  .auth-container {
    width: 300px;
    .auth-form {
      margin-top: 52px;
      .input-field {
        width: 300px;
      }
      .auth-cnter-pnl {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  .auth-btn {
    width: 300px;
  }
  .lg-btn-dflt {
    width: 300px;
  }
}
