html {
  font-family: 'Ubuntu', sans-serif;
}
body {
  background: url("../images/tile.png");
  background-repeat: repeat-x;
}
.top-candy-bdr {
  background: url("../images/tile.png");
  background-repeat: repeat-x;
  width: 100%;
  height: 5px;
  position: fixed;
}
.navbar-fixed nav {
  width: 90%;
  margin-left: 5%;
  ul {
    li {
      a {
        &.active {
          border-bottom: 3px solid #499cd0;
          height: 68px;
        }
        &.dropdown-button {
          &.active {
            border-bottom: none;
          }
        }
      }
      &.alarm {
        a {
          height: 68px;
        }
        i {
          font-size: 20px;
          .alarm-info {
            font-size: 8px;
            margin-top: 20px;
            margin-left: -7px;
            position: absolute;
            color: #FFF;
            background: red;
            border-radius: 5px;
            height: 13px;
            line-height: 10px;
            min-width: 20px;
            text-align: center;
            display: inline-block;
            font-weight: bold;
            padding: 2px;
          }
        }
      }
      &.user-pic {
        a {
          padding-top: 12px;
          height: 68px;
          img {
            border: 2px solid $blue-clr;
            width: 30px;
          }
        }
        i {
          display: inline-block;
          position: absolute;
          margin-top: -8px;
        }
      }
      .dropdown-content{
        li{
          a{
            height: 50px;
            color: $blue-clr;
          }
        }
      }
    }
  }
}
.side-nav-btn {
  display: none;
}
.hint-box {
  border: 1px solid $blue-clr;
  border-radius: 3px;
  padding: 30px;
  color: $blue-clr;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 50px;
}
/***********************************
  authentication page Classes
************************************/
.password-box {
  position: absolute;
  margin-top: 10px !important;
  float: right;
  margin-left: calc(100% - 4px);
  div {
    height: 4px;
    width: 4px;
    margin: 2px;
    border-radius: 2px;
    background-color: $gray-transparent-lit;
    &.active {
      background-color: $blue-clr;
    }
  }
}
.center-container {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  height: calc(100% - 0px);
  padding: 5px;
  .center-div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
.auth-container {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  .auth-logo {
    width: 388px;
  }
  .auth-form {
    margin-top: 52px;
    .warning-block {
      width: 100%;
      text-align: left;
      margin-top: -10px;
    }
    .input-field {
      width: 370px;
      margin-left: auto;
      margin-right: auto;
    }
    .btn {
      margin-bottom: 25px;
    }
    [type="checkbox"] + label {
      line-height: 21px;
    }
    .auth-cnter-pnl {
      padding-left: 16px;
      padding-right: 16px;
    }
    .show-pass {
      float: right;
      margin-right: 15px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
.auth-btn {
  padding: 0;
  width: 370px;
  height: 60px;
  line-height: 60px;
  text-transform: none;
  font-size: 18px;
  font-weight: 400;
  i {
    margin-right: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.linkedin-btn {
  background-color: $linckedin-bg-clr;
  i {
    border-right: 1px solid $white;
    height: 60px;
  }
  .linkedin-icon {
    background-image: url("../images/linkedin10.png");
    background-repeat: no-repeat;
    width: 27px;
    height: 27px;
    display: block;
    margin-top: 18px;
  }
  &:hover {
    background-color: $linckedin-bg-clr;
  }
}
.google-btn {
  background-color: $google-bg-clr;
  border: 2px solid $light-border;
  color: $dflt-txt-clr;
  i {
    border-right: 1px solid $light-border;
    height: 58px;
  }
  .google-icon {
    background-image: url("../images/google-icon.png");
    background-repeat: no-repeat;
    width: 27px;
    height: 27px;
    display: block;
    margin-top: 15px;
  }
  &:hover {
    background-color: $google-bg-clr;
  }
}
.signin-btn {
  background-color: $signin-bg-clr;
  &:hover {
    background-color: $signin-bg-clr;
  }
}
.login-btn {
  background-color: $dflt-btn-clr;
  margin-top: 10px;
  &:hover {
    background-color: $dflt-btn-clr;
  }
}
.sm-icon-btn{
  padding: 0 1rem;
  i{
    &.right {
      margin-left: 10px;
    }
    &.left {
      margin-right: 10px;
    }
  }
}
.lg-btn-dflt {
  padding: 0;
  width: 370px;
  height: 60px;
  line-height: 60px;
  text-transform: none;
  font-size: 18px;
  font-weight: 400;
  i {
    margin-right: 0;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 24px;
    &.left {
      border-right: 1px solid $white;
    }
    &.right {
      margin-left: 0;
    }
    &.mdi-chevron-down {
      font-size: 34px;
    }
  }
}
.gray-head {
  font-weight: 700;
  color: $gray-txt-clr;
  text-transform: uppercase;
}
.blue-head {
  font-weight: 700;
  color: $blue-clr;
  text-transform: uppercase;
}
/*********************
  Home Page
**********************/
.tag-line {
  padding: 80px 0;
}
.tag-head {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: $gray-txt-clr;
}
.tag-sm-head {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: $gray-txt-clr;
}
.campaign-status {
  border: 1px solid $blue-border;
  border-radius: 3px;
  padding: 23px 33px;
  margin-top: 15px;
  margin-bottom: 15px;
  ul {
    margin-top: 0;
    li {
      display: inline;
      cursor: pointer;
    }
    .separator {
      padding-left: 15px;
      padding-right: 15px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-image: url("../images/separator.png");
    }
  }
  .campaign-status-info {
    background-color: $light-bg-clr;
    padding-left: 18px;
    padding-right: 18px;
    .col {
      padding-top: 18px;
      padding-bottom: 18px;
      .info {
        font-weight: 700;
        text-transform: uppercase;
      }
      .status {
        color: $blue-clr;
        font-size: 36px;
        font-weight: 300;
        text-align: center;
        &::after {
          content: "%";
          font-size: 24px;
          font-weight: 300;
        }
      }
    }
    &.row {
      margin-bottom: 0;
    }
  }
}
/*********************
  User Profile
**********************/
.user-profile {
  #toast-container {
    .toast {
      float: right;
    }
  }
}
.avatar-container {
  text-align: center;
}
.avatar-pic {
  width: 200px;
  height: 200px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  .avatar-edit {
    display: none;
  }
  &:hover {
    .avatar-edit {
      background-color: $gray-transparent-clr;
      border: 5px solid $blue-clr;
      height: 200px;
      vertical-align: middle;
      text-align: center;
      display: table-cell;
      width: 200px;
      color: $white;
    }
  }
}
#selectAvatar {
  display: none;
}
/*********************
  Email List
**********************/
@mixin email-list-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

@mixin sub-nav-container {
  .head {
    float: left;
    font-size: 24px;
    font-weight: 300;
    margin-right: 30px;
  }
  .sub-head {
    float: right;
    a {
      line-height: 42px;
      white-space: nowrap;
      padding-left: 20px;
    }
  }
}

.sub-nav {
  margin-top: 43px;
  margin-bottom: 48px;
  border-bottom: 1px solid $light-border;
  min-height: 50px;
  @include sub-nav-container;
}

.sub-head-container {
  margin-top: 43px;
  margin-bottom: 5px;
  min-height: 50px;
  @include sub-nav-container;
}

.create-list-container {
  h3 {
    margin-bottom: 53px;
    text-align: center;
  }
  .list-container {
    @include email-list-container;
    .row {
      margin: 0;
    }
    .r-btn-container {
      text-align: right;
      width: 100%;
    }
    .react-autosuggest__container {
      position: relative;
      .react-autosuggest__suggestions-container {
        position: absolute;
        top: 25px;
        width: 100%;
        background-color: $white;
        z-index: 2;
        box-shadow: $box-shadow;
        .react-autosuggest__suggestion {
          cursor: pointer;
          padding: 10px 20px;
          &.react-autosuggest__suggestion--focused {
            background-color: $drp-dwn-bg;
          }
        }
      }
    }
  }
  .hint-box {
    @include email-list-container;
  }
}
.r-btn-container {
  text-align: right;
  width: 100%;
}
/*************************
  Single event handling
**************************/
.m-t-47 {
  margin-top: 47px;
}
.m-t-50 {
  margin-top: 50px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-0 {
  margin: 0 !important;
}
.m-lr-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.rtt-90-d {
  @include rotate(90deg);
}
.blue-txt {
  color: $blue-clr;
}
.m-r-20 {
  margin-right: 20px;
}
.p-1-btn {
  margin-right: 20px;
}
/*********************
  Warning Class
**********************/
.warning-block {
  color: $red-clr;
  margin-top: 0;
  padding-top: 0;
  font-size: 12px;
  display: block;
}
/*********************
  Media Query Classes
**********************/
@media only screen and (max-width: 600px) {
  .auth-container {
    .auth-logo {
      width: 250px;
    }
  }
}
@media only screen and (max-width: 500px) {
  .sub-nav,.sub-head-container {
    .head {
      float: none;
      text-align: center;
      display: block;
      margin-left: 0;
    }
    .sub-head {
      float: left;
      a {
        display: block;
        padding-left: 0;
      }
    }
  }
}
@media only screen and (max-width: 460px) {
  .p-1-btn {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .btn {
    width: 90%;
  }
  .create-list-container {
    .list-container {
      .r-btn-container {
        text-align: center;
      }
    }
  }
  .r-btn-container {
    text-align: center;
  }
}
@media only screen and (max-width: 400px) {
  .auth-container {
    width: 300px;
    .auth-form {
      margin-top: 52px;
      .input-field {
        width: 300px;
      }
      .auth-cnter-pnl {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  .auth-btn {
    width: 300px;
  }
  .lg-btn-dflt {
    width: 300px;
  }
}
@media only screen and (max-width: 995px) {
  .tab-hd-btn {
    .col {
      text-align: center;
    }
  }
}
@media only screen and (max-width: 1176px) {
  .navbar-fixed {
    nav {
      width: 100%;
      margin-left: 0;
    }
  }
}
@media only screen and (max-width: 992px) {
  .side-nav-btn {
    display: block;
  }
}
