html {
  font-family: 'Ubuntu', sans-serif;
}
body {
  background: url("../images/tile.png");
  background-repeat: repeat-x;
}
.top-candy-bdr {
  background: url("../images/tile.png");
  background-repeat: repeat-x;
  width: 100%;
  height: 5px;
  position: fixed;
}
.navbar-fixed nav {
  width: 90%;
  margin-left: 5%;
}
/***********************************
  authentication page Classes
************************************/
.center-container {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  height: calc(100% - 0px);
  padding: 5px;
  .center-div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
.auth-container {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  .auth-logo {
    width: 388px;
  }
  .auth-form {
    margin-top: 52px;
    .input-field {
      width: 370px;
      margin-left: auto;
      margin-right: auto;
    }
    .btn {
      margin-bottom: 25px;
    }
    [type="checkbox"] + label {
      line-height: 21px;
    }
    .auth-cnter-pnl {
      padding-left: 16px;
      padding-right: 16px;
    }
    .show-pass {
      float: right;
      margin-right: 15px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
.auth-btn {
  padding: 0;
  width: 370px;
  height: 60px;
  line-height: 60px;
  text-transform: none;
  font-size: 18px;
  font-weight: 400;
  i {
    margin-right: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.linkedin-btn {
  background-color: $linckedin-bg-clr;
  i {
    border-right: 1px solid $white;
    height: 60px;
  }
  .linkedin-icon {
    background-image: url("../images/linkedin10.png");
    background-repeat: no-repeat;
    width: 27px;
    height: 27px;
    display: block;
    margin-top: 18px;
  }
  &:hover {
    background-color: $linckedin-bg-clr;
  }
}
.google-btn {
  background-color: $google-bg-clr;
  border: 2px solid $light-border;
  color: $dflt-txt-clr;
  i {
    border-right: 1px solid $light-border;
    height: 58px;
  }
  .google-icon {
    background-image: url("../images/google-icon.png");
    background-repeat: no-repeat;
    width: 27px;
    height: 27px;
    display: block;
    margin-top: 15px;
  }
  &:hover {
    background-color: $google-bg-clr;
  }
}
.signin-btn {
  background-color: $signin-bg-clr;
  &:hover {
    background-color: $signin-bg-clr;
  }
}
.login-btn {
  background-color: $dflt-btn-clr;
  margin-top: 10px;
  &:hover {
    background-color: $dflt-btn-clr;
  }
}
.lg-btn-dflt {
  padding: 0;
  width: 370px;
  height: 60px;
  line-height: 60px;
  text-transform: none;
  font-size: 18px;
  font-weight: 400;
  i {
    margin-right: 0;
    padding-left: 15px;
    padding-right: 15px;
    &.left {
      border-right: 1px solid $white;
    }
  }
}
.gray-head {
  font-weight: 700;
  color: $gray-txt-clr;
  text-transform: uppercase;
}
.blue-head {
  font-weight: 700;
  color: $blue-clr;
  text-transform: uppercase;
}
/*********************
  Home Page
**********************/
.tag-line {
  padding: 80px 0;
}
.tag-head {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: $gray-txt-clr;
}
.campaign-status {
  border: 1px solid $blue-border;
  border-radius: 3px;
  padding: 23px 33px;
  margin-top: 15px;
  margin-bottom: 15px;
  ul {
    margin-top: 0px;
    li {
      display: inline;
      cursor: pointer;
    }
    .separator {
      padding-left: 15px;
      padding-right: 15px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-image: url("../images/separator.png");
    }
  }
  .campaign-status-info {
    background-color: $light-bg-clr;
    padding-left: 18px;
    padding-right: 18px;
    .col {
      padding-top: 18px;
      padding-bottom: 18px;
      .info {
        font-weight: 700;
        text-transform: uppercase;
      }
      .status {
        color: $blue-clr;
        font-size: 25px;
        font-weight: 500;
        text-align: center;
      }
    }
    &.row {
      margin-bottom: 0;
    }
  }
}
/*************************
  Single event handling
**************************/
.m-t-47 {
  margin-top: 47px;
}
.rtt-90-d {
  @include rotate(90deg);
}
.blue-txt {
  color: $blue-clr;
}
/*********************
  Media Query Classes
**********************/
@media only screen and (max-width: 600px) {
  .auth-container {
    .auth-logo {
      width: 250px;
    }
  }
}
@media only screen and (max-width: 400px) {
  .auth-container {
    width: 300px;
    .auth-form {
      margin-top: 52px;
      .input-field {
        width: 300px;
      }
      .auth-cnter-pnl {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  .auth-btn {
    width: 300px;
  }
  .lg-btn-dflt {
    width: 300px;
  }
}
@media only screen and (max-width: 995px) {
  .tab-hd-btn {
    .col {
      text-align: center;
    }
  }
}
@media only screen and (max-width: 1176px) {
  .navbar-fixed {
    nav {
      width: 100%;
      margin-left: 0;
    }
  }
}
