<div class="navbar-fixed">
  <div class="top-candy-bdr"></div>
  <nav id="mainNav">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><img src="/images/logo.png"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Campaigns</a></li>
        <li><a href="/emaillist">Email Lists</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">API</a></li>
      </ul>
      <ul id="main-side-nav" class="side-nav">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Campaigns</a></li>
        <li><a href="/emaillist">Email Lists</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">API</a></li>
      </ul>
      <a href="#" data-activates="main-side-nav" class="side-nav-btn"><i class="mdi mdi-menu"></i></a>
    </div>
  </nav>
</div>
