<div class="navbar-fixed">
  <div class="top-candy-bdr"></div>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><img src="/images/logo.png"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Campaigns</a></li>
        <li><a href="#">Email Lists</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">API</a></li>
      </ul>
    </div>
  </nav>
</div>
