<div class="navbar-fixed">
  <div class="top-candy-bdr"></div>
  <nav id="mainNav">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><img src="/images/logo.png"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Campaigns</a></li>
        <li><a href="/emaillist">Email Lists</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">API</a></li>
        <li class="alarm">
          <a href="#">
            <i class="mdi mdi-bell-outline" ><div class="alarm-info">22</div></i>
          </a>
        </li>
        <li class="user-pic">
          <a class="dropdown-button" data-activates='userDropDown' href="#"><img src="/images/user.png" width="30px" alt="" class="circle"><i class="mdi mdi-chevron-down"></i></a>
        </li>
      </ul>
      <!--TODO User drop down for responsive view-->
      <ul id='userDropDown' class='dropdown-content'>
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li><a href="#!">three</a></li>
      </ul>
      <ul id="main-side-nav" class="side-nav">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Campaigns</a></li>
        <li><a href="/emaillist">Email Lists</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">API</a></li>
        <li class="alarm"><a href="#"><i class="mdi mdi-bell-outline" ><div class="alarm-info">22</div></i></a></li>
      </ul>
      <a href="#" data-activates="main-side-nav" class="side-nav-btn"><i class="mdi mdi-menu"></i></a>
    </div>
  </nav>
</div>
